.block {
    padding: 10px;

    color: #3a87ad;

    background:#d9edf7;
    border: 0 solid rgba(#000, 0.03);
    border-radius: 5px;

    & + .block {
        margin-top: 20px;
    }

    ol {
        margin: 0;
        padding:0;
        list-style-position: inside;
        list-style-type: auto;
    }
}

.header {
    margin: 0;
    font-size: 18px;
}