.button {
  width: 100%;
  gap: 16px;
  border: 1px dashed #3E97FF;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  height: 58px;
  margin: 20px 0;
}

.descriptionPage {
  color: #A1A5B7;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin: 20px 0;
}