.wrap {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 100vh;
}

.answer {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
}

.mainInner {
  display: flex;
  gap: 30px;
  justify-content: space-between;

  > div {
    width: 50%;
  }
}