.subject {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;

    textarea {
        display: block;
        width: 100%;
        max-width: 600px;
    }

    button {
        display: block;
    }
}