.top {

}

.content {
  gap: 24px;
  display: flex;
  flex-direction: column;
}

.bottom {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.bottomButtons {
  display: flex;
  gap: 10px;
}

.description {
  margin: 40px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #A1A5B7;
}
