.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  margin-top: 40px;
}

.bottomButtons {
  display: flex;
  gap: 10px;
}

.description {
  margin: 40px 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #A1A5B7;
}

.loader {
  position: relative;

  display: inline-block;

  box-sizing: border-box;
  width: 40px;
  height: 98px;

  color: rgba(255, 61, 0, 90%);

  background: #fff;
  border: 2px solid #FFF;
  border-radius: 20px 20px 4px 4px;

  animation: fill 2s linear infinite alternate;
}

.loader::after {
  content: '';

  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50% , -95%);

  box-sizing: border-box;
  width: 15px;
  height: 35px;

  background: #fff;
  border: 2px solid #FFF;
  border-bottom: none;

  animation: fillNeck 2s linear infinite alternate;
}

@keyframes fill {
  0% { box-shadow: 0 0  inset }
  50% , 100% { box-shadow: 0 -98px inset }
}


@keyframes fillNeck {
  0% , 50%{ box-shadow: 0 0  inset }
  100% { box-shadow: 0 -20px inset }
}
