.modal {
  position: fixed;
  z-index: 101;
  inset: 0;

  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  box-sizing: border-box;
  padding: 20px;

  background: rgba(0,0,0, 60%);

  .modal_inner {
    position: relative;

    width: 624px;
    padding: 40px 64px;

    background: #FFF;
    border-radius: 12px;

    .title {
      font-size: 26px;
      font-weight: 600;
      font-style: normal;
      line-height: 26px;
      color: #181C32;
      letter-spacing: -0.52px;
    }

    .close {
      cursor: pointer;

      position: absolute;
      top: 20px;
      right: 20px;

      width: 24px;
      height: 24px;

      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M7.40992 5.99991L10.9999 2.43991C11.1909 2.2463 11.2971 1.98477 11.2952 1.71284C11.2933 1.44091 11.1835 1.18087 10.9899 0.989909C10.7963 0.798953 10.5348 0.692729 10.2628 0.694604C9.99092 0.69648 9.73088 0.806301 9.53992 0.999909L5.99992 4.58991L2.45992 1.06991C2.27256 0.883659 2.0191 0.779117 1.75492 0.779117C1.49073 0.779117 1.23728 0.883659 1.04992 1.06991C0.956191 1.16287 0.881796 1.27347 0.831028 1.39533C0.780259 1.51719 0.754121 1.6479 0.754121 1.77991C0.754121 1.91192 0.780259 2.04263 0.831028 2.16449C0.881796 2.28635 0.956191 2.39695 1.04992 2.48991L4.58992 5.99991L0.999919 9.55991C0.808963 9.75352 0.702739 10.0151 0.704614 10.287C0.70649 10.5589 0.816311 10.819 1.00992 11.0099C1.20353 11.2009 1.46506 11.3071 1.73699 11.3052C2.00892 11.3033 2.26896 11.1935 2.45992 10.9999L5.99992 7.40991L9.53992 10.9299C9.72728 11.1162 9.98073 11.2207 10.2449 11.2207C10.5091 11.2207 10.7626 11.1162 10.9499 10.9299C11.0436 10.8369 11.118 10.7263 11.1688 10.6045C11.2196 10.4826 11.2457 10.3519 11.2457 10.2199C11.2457 10.0879 11.2196 9.95719 11.1688 9.83533C11.118 9.71347 11.0436 9.60287 10.9499 9.50991L7.40992 5.99991Z' fill='%237E8299'/%3E%3C/svg%3E") 50% no-repeat;
      border: none;
      outline: none;
    }
  }

  .content {
    padding: 36px 0 28px;
  }

  .bottom {
    display: flex;
    gap: 20px;
    align-items: start;
  }
}



