.button {
  border-radius: 6px;
  font-style: normal;
  font-weight: 600;
  outline: none;
  border: none;
  padding: 0;
  background: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: .3s all;

  &:hover {
    opacity: .8;
  }
}

.black {
  background: #242424;
}


.blue {
  background: #3E97FF;
}

.purple {
  background: #7458E1;
}

.gray {
  background: #F1F1F2;
}

.green {
  background: #EFFFF5;
}

.color {

  &-black {
    color: #181c32;
  }

  &-purple {
    color: #7239EA;
  }

  &-blue {
    color: #3E97FF;
  }

  &-green {
    color: #50CD89;
  }
  
  &-grey {
    color: #7E8299;
  }
}

.small {
  padding: 0 12px;
  font-size: 13px;
  height: 38px;
}

.medium {
  height: 48px;
  padding: 0 24px;
  font-size: 16px;
}
