.item {
    display: flex;
    align-items: center;
    border: 1px solid #D8D8E5;
    box-shadow: 0 3px 4px 0 #00000008;
    gap: 10px;
    padding: 13px 22px 13px 12px;
    border-radius: 12px;
    position: relative;

    .name {
        display: flex;
        align-items: center;
        gap: 12px;
        flex: 1 1 auto;

        .nameText {
            color: #3F4254;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 38px;
            letter-spacing: -0.44px;
        }

        .labelAI {
            white-space: nowrap;
            color: #BEA2F9;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 12px;
            padding: 3px 8px;
            border-radius: 6px;
            background:#F8F5FF;
        }
    }

    .description {
        flex: 0 0 26px;
        position: relative;

        .descriptionText {
            padding: 20px 16px;
            position: absolute;
            z-index: 10;
            top: 100%;
            left: 0;
            width: 326px;
            color: #A1A5B7;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            border-radius: 6px;
            border: 1px solid #D8D8E5;
            background: #FFF;
            box-shadow: 0 8px 14px 0 rgba(15, 42, 81, 0.08);
            margin-top: 10px;
        }
    }

    .actionsBtn {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 10px;
    }
}

.pageActions {
    position: relative;
}

.more {
    cursor: pointer;
    opacity: 0.5;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
        * {
            white-space: nowrap;
        }

        &:first-child {
            .button {
                border-radius: 6px 6px 0 0;
            }
        }
        &:last-child {
            .button {
                border-radius: 0 0 6px 6px;
            }
        }
    }

}

.button {
    width: 100%;
    border-radius: 0;
    background:none;
    color:#7E8299;


    &:hover {
        background:#3E97FF;
        color: #fff;
    }
}
