.item {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    padding: 22px 28px;

    border: 1px solid #D8D8E5;
    border-radius: 12px;
    box-shadow: 0 3px 4px 0 #00000008;
}

.pageActions {
    position: relative;
}

.more {
    cursor: pointer;
    opacity: 0.5;
}

.button {
    width: 100%;
    color:#7E8299;
    background:none;
    border-radius: 0;

    &:hover {
        color: #fff;
        background:#3E97FF;
    }
}

.list {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;

    li {
        * {
            white-space: nowrap;
        }

        &:first-child {
            .button {
                border-radius: 6px 6px 0 0;
            }
        }

        &:last-child {
            .button {
                border-radius: 0 0 6px 6px;
            }
        }
    }

}