.item {
    position: relative;

    display: flex;
    gap: 10px;
    align-items: center;

    padding: 13px 22px 13px 12px;

    border: 1px solid #D8D8E5;
    border-radius: 12px;
    box-shadow: 0 3px 4px 0 #00000008;

    .name {
        display: flex;
        flex: 1 1 auto;
        gap: 12px;
        align-items: center;

        .nameText {
            font-size: 22px;
            font-weight: 600;
            font-style: normal;
            line-height: 38px;
            color: #3F4254;
            letter-spacing: -0.44px;
        }

        .labelAI {
            padding: 3px 8px;

            font-size: 10px;
            font-weight: 600;
            font-style: normal;
            line-height: 12px;
            color: #BEA2F9;
            white-space: nowrap;

            background:#F8F5FF;
            border-radius: 6px;
        }
    }

    .description {
        position: relative;
        flex: 0 0 26px;

        .descriptionText {
            position: absolute;
            z-index: 10;
            top: 100%;
            left: 0;

            width: 326px;
            margin-top: 10px;
            padding: 20px 16px;

            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            line-height: 20px;
            color: #A1A5B7;

            background: #FFF;
            border: 1px solid #D8D8E5;
            border-radius: 6px;
            box-shadow: 0 8px 14px 0 rgba(15, 42, 81, 8%);
        }
    }

    .actionsBtn {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-right: 10px;
    }

    &.isSended {
        padding-top: 9px;
        padding-bottom: 9px;
        background: #EFFFF5;
        border: 0;

        .name .nameText {
            color: rgba(#000, 0.3);
        }
    }
}

.rightInfoSend {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    font-weight: 700;
    line-height: 14px;
    color: #50CD89;
}

.pageActions {
    position: relative;
}

.more {
    cursor: pointer;
    opacity: 0.5;
}

.button {
    width: 100%;
    color:#7E8299;
    background:none;
    border-radius: 0;


    &:hover {
        color: #fff;
        background:#3E97FF;
    }
}

.list {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style: none;

    li {
        * {
            white-space: nowrap;
        }

        &:first-child {
            .button {
                border-radius: 6px 6px 0 0;
            }
        }

        &:last-child {
            .button {
                border-radius: 0 0 6px 6px;
            }
        }
    }

}
