
.title {
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .name {
    color: #5E6278;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    margin-right: 50px;
  }
}

.counter {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.3px;
  border-radius: 22px;
  padding: 0 10px;
  height: 20px;
  white-space: nowrap;
}

.textarea {
  border-radius: 6px;
  border: 1px solid #E1E3EA;
  background: #FFF;
  padding: 17px 15px;
  min-height: 96px;
  box-sizing: border-box;
  color: #1D1D1B;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 100%;
  max-width: 100%;
  outline: none;
  font-family: 'Inter', sans-serif;

  &.error {
    border-color: #F1416C;
  }
}

.textareaLabel {
  font-size: 0;
}

.labelGrey {
  background: #F1F1F2;
  color: #a1a5b7;
}

.labelYellow {
  background: rgba(246, 192, 0, 0.10);
  color: #f6c000;
}

.labelRed {
  background: rgba(239, 48, 94, 0.10);
  color: #f1416c;
}

.errorMessage {
  padding: 6px 0 0;
  color: #F1416C;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}
