
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 18px;

  .name {
    margin-right: 50px;

    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    line-height: 14px;
    color: #5E6278;
  }
}

.counter {
  height: 20px;
  padding: 0 10px;

  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.3px;
  white-space: nowrap;

  border-radius: 22px;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 96px;
  padding: 17px 15px;

  font-family: Inter, sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  color: #1D1D1B;

  background: #FFF;
  border: 1px solid #E1E3EA;
  border-radius: 6px;
  outline: none;

  &.error {
    border-color: #F1416C;
  }
}

.textareaLabel {
  font-size: 0;
}

.labelGrey {
  color: #a1a5b7;
  background: #F1F1F2;
}

.labelYellow {
  color: #f6c000;
  background: rgba(246, 192, 0, 10%);
}

.labelRed {
  color: #f1416c;
  background: rgba(239, 48, 94, 10%);
}

.errorMessage {
  padding: 6px 0 0;

  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  line-height: 20px;
  color: #F1416C;
}
