.wrapper {
    position: absolute;
    top: 0;
    right: 100%;

    margin-right: 10px;

    background:#fff;
    background: var(--white-dark-white, #FFF);
    border: 1px solid var(--gray-gray-400, #D8D8E5);
    border-radius: 6px;
    box-shadow: 0 8px 14px 0 rgba(15, 42, 81, 8%);
}