.list {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap:5px;

    li {
        span {
            display: inline-flex;
            padding: 5px;
            background:#c69fd9;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
        }
    }
}