.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterText {
  padding: 0 5px;

  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #7239EA;
}

.counterImage {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
}

.counterIconPopup {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: calc(50% - 112px);

  width: 326px;
  margin-top: 5px;
  padding: 20px 16px;

  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  color: #A1A5B7;

  background: #FFF;
  border: 1px solid #D8D8E5;
  border-radius: 6px;
  box-shadow: 0 8px 14px 0 rgba(15, 42, 81, 8%);
}