.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterText {
  padding: 0 5px;

  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  color: #7239EA;
}

.counterImage{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
}